td{
  width: 100px;
  height: 100px;
  border: 2px solid black;
  text-align: center;
}


.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  margin-left: 20%;
  align-items: center;
}